<Navebar::hamburguesa />

<div class="container-login">
    <h1>Login</h1>
    <form {{!-- {{on "submit" this.authenticate}} --}} >
        
        <label for="username">Username</label>
        <input id="username" type="text" name="username" {{!--  value={{this.username}} {{on "change" this.update}} --}}>
                
        <label for="password">Password</label>
        <input id="password" type="password" {{!-- value={{this.password}} {{on "change" this.update}} --}}>
        
        <input type="submit" value="Login">
        {{#if this.errorMessage}}
            <p>{{this.errorMessage}}</p>
        {{/if}}
        <LinkTo @route="index" >
            Registrate
        </LinkTo>        
        
    </form>
</div>

<Footer::EndPage />
